{
  "openapi": "3.0.0",
  "info": {
    "title": "GetMyInvoices API Documentation",
    "version": "v3",
    "description": "Documentation for GetMyInvoices API endpoints.",
    "contact": {
      "name": "GetMyInvoices Support",
      "email": "support@getmyinvoices.com",
      "url": "www.getmyinvoices.com"
    }
  },
  "servers": [
    {
      "url": "https://api.getmyinvoices.com/accounts/v3",
      "description": "GetMyInvoices API production server"
    }
  ],
  "paths": {
    "/apiStatus": {
      "get": {
        "tags": ["General Endpoints"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/apiStatus"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Check API status.",
        "operationId": "API Status",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/companies": {
      "get": {
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/companies"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all companies from the account.",
        "operationId": "Get company list",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          },
          {
            "name": "statusFilter",
            "in": "query",
            "description": "Status filter. Possible values: 0 = Any, 1 = Active, -1 = Inactive, -2 = Pending",
            "required": false,
            "example": "0",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "companyTypeFilter",
            "in": "query",
            "description": "Company type filter. Possible values: 0 = Any, ONLINE_PORTAL = Online-Portal only, CUSTOM_COMPANY = Custom company only",
            "required": false,
            "example": "ONLINE_PORTAL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPortalRecords",
            "in": "query",
            "description": "Return portal records. Possible values: 0 = Not show portal records, 1 = Show portal records",
            "required": false,
            "example": "0",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/addCustomCompany"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Company name parameter not set. (Failure code: 114)\n * Company country parameter not set. (Failure code: 115)\n * Company name already exists. (Failure code: 116)\n * Company country not found. (Failure code: 117)\n * An unexpected error occurred while creating company. (Failure code: 118)\n * All OR One Required parameters not set. (Failure code: 119)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Add new custom company.",
        "operationId": "Add Custom Company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the company.",
                    "example": "Server4You",
                    "type": "string"
                  },
                  "countryUid": {
                    "description": "PRIM_UID of the country.",
                    "example": 73,
                    "type": "integer"
                  },
                  "tags": {
                    "description": "Tags (Array)",
                    "example": ["Hosting", "Software"],
                    "type": "array"
                  },
                  "street": {
                    "description": "Street",
                    "example": "Musterring 1",
                    "type": "string"
                  },
                  "zip": {
                    "description": "ZIP code",
                    "example": "12456",
                    "type": "string"
                  },
                  "city": {
                    "description": "City",
                    "example": "Musterhausen",
                    "type": "string"
                  },
                  "email": {
                    "description": "Email",
                    "example": "email@example.com",
                    "type": "string"
                  },
                  "phone": {
                    "description": "Phone",
                    "example": "123456789",
                    "type": "string"
                  },
                  "fax": {
                    "description": "Fax",
                    "example": "123456780",
                    "type": "string"
                  },
                  "taxNumber": {
                    "description": "Tax Number",
                    "example": "XX-XXXXX",
                    "type": "string"
                  },
                  "vatId": {
                    "description": "VAT ID",
                    "example": "DE999999999",
                    "type": "string"
                  },
                  "commercialRegister": {
                    "description": "Commercial Register",
                    "example": "Berlin",
                    "type": "string"
                  },
                  "iban": {
                    "description": "IBAN",
                    "example": "DE89370400440532013000",
                    "type": "string"
                  },
                  "bic": {
                    "description": "BIC",
                    "example": "PBNKDEFF",
                    "type": "string"
                  },
                  "url": {
                    "description": "URL",
                    "example": "https://example.com",
                    "type": "string"
                  }
                },
                "required": ["name", "countryUid"]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/companies/{companyUid}": {
      "get": {
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getCompany"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Required parameters not set. (Failure code: 102)\n * Invalid company Prim UID. (Failure code: 139)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get one company from the account.",
        "operationId": "Get one company",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      },
      "put": {
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/updateCustomCompany"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Company PRIM UID parameter not set. (Failure code: 120)\n * Company name OR company country OR company Tags is not set. (Failure code: 121)\n * Company name already exists. (Failure code: 116)\n * Company country not found. (Failure code: 117)\n * Company is not custom company. (Failure code: 125)\n * Company not found. (Failure code: 131)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Update existing custom company.",
        "operationId": "Update Custom Company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the company.",
                    "example": "Server4You",
                    "type": "string"
                  },
                  "countryUid": {
                    "description": "PRIM_UID of the country.",
                    "example": 73,
                    "type": "integer"
                  },
                  "tags": {
                    "description": "Tags (Array)",
                    "example": ["Hosting", "Software"],
                    "type": "array"
                  },
                  "street": {
                    "description": "Street",
                    "example": "Musterring 1",
                    "type": "string"
                  },
                  "zip": {
                    "description": "ZIP code",
                    "example": "12456",
                    "type": "string"
                  },
                  "city": {
                    "description": "City",
                    "example": "Musterhausen",
                    "type": "string"
                  },
                  "email": {
                    "description": "Email",
                    "example": "email@example.com",
                    "type": "string"
                  },
                  "phone": {
                    "description": "Phone",
                    "example": "123456789",
                    "type": "string"
                  },
                  "fax": {
                    "description": "Fax",
                    "example": "123456780",
                    "type": "string"
                  },
                  "taxNumber": {
                    "description": "Tax Number",
                    "example": "XX-XXXXX",
                    "type": "string"
                  },
                  "vatId": {
                    "description": "VAT ID",
                    "example": "DE999999999",
                    "type": "string"
                  },
                  "commercialRegister": {
                    "description": "Commercial Register",
                    "example": "Berlin",
                    "type": "string"
                  },
                  "iban": {
                    "description": "IBAN",
                    "example": "DE89370400440532013000",
                    "type": "string"
                  },
                  "bic": {
                    "description": "BIC",
                    "example": "PBNKDEFF",
                    "type": "string"
                  },
                  "url": {
                    "description": "URL",
                    "example": "https://example.com",
                    "type": "string"
                  }
                },
                "required": ["name", "country"]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
          "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      },
      "delete": {
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/deleteCustomCompany"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Company PRIM UID parameter not set. (Failure code: 120)\n * Company is not custom company. (Failure code: 125)\n * Company is having documents. (Failure code: 129)\n * Company is having email import rules defined. (Failure code: 130)\n * Company not found. (Failure code: 131)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Delete existing custom company.",
        "operationId": "Delete Custom Company",
        "parameters": [
          {
          "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/documents": {
      "get": {
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/listDocuments"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Invalid Date Format. Must be in format Y-m-d. (Failure code: 104)\n * Invalid Date Format. Must be in format Y-m-d H:i:s. (Failure code: 140)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all documents from the account.",
        "operationId": "Get document list",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          },
          {
            "name": "companyFilter",
            "in": "query",
            "description": "Filter by company. Possible values: 0 = Any, -1 = unassigned or any companyUid from the /companies api response.",
            "required": false,
            "example": "0",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "archivedFilter",
            "in": "query",
            "description": "Filter archived documents. Possible values: 0 = Only not archived, 1 = Any, 2 = Only archived",
            "required": false,
            "example": "1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "documentTypeFilter",
            "in": "query",
            "description": "Document type. Possible values: INCOMING_INVOICE / RECEIPT / PAYMENT_RECEIPT / EXPENSE_REIMBURSEMENT / SALES_INVOICE / CREDIT_NOTE / STATEMENT / DELIVERY_NOTE / ORDER_CONFIRMATION / PAYROLL / COMPANY_REGISTRATION_DOCUMENT / MISC / TRAVEL_EXPENSES / REMINDER",
            "required": false,
            "example": "INCOMING_INVOICE",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentNumberFilter",
            "in": "query",
            "description": "Filter by document number.",
            "required": false,
            "example": "144-23232",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteFilter",
            "in": "query",
            "description": "Filter by note.",
            "required": false,
            "example": "Hosting",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDateFilter",
            "in": "query",
            "description": "Start document date filter",
            "required": false,
            "example": "2017-08-18",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDateFilter",
            "in": "query",
            "description": "End document date filter",
            "required": false,
            "example": "2027-08-18",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentUidExclusionFilter[]",
            "in": "query",
            "description": "Array of document Id that should not be in the results",
            "required": false,
            "example": ["28715", "28716"],
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "documentUidStartFilter",
            "in": "query",
            "description": "document Id that can be used to limit result to only higher prim_uids",
            "required": false,
            "example": "28714",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "updatedOrNewSinceFilter",
            "in": "query",
            "description": "Limit result to documents modified or created after given date.",
            "required": false,
            "example": "2027-08-18 18:12:50",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagFilter[]",
            "in": "query",
            "description": "Filter by tag name.",
            "required": false,
            "example": ["img", "select"],
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "paymentStatusFilter",
            "in": "query",
            "description": "Filter by payment status. \n Possible values:  paid / not_paid / unknown / all",
            "required": false,
            "example": "paid",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "If there are more documents than the 500 limit you can use this to get additional pages",
            "required": false,
            "example": "1",
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/uploadNewDocument"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * File type not supported. (Failure code: 101)\n * Required parameters not set. (Failure code: 102)\n * file_content: Wrong encoding. Must be base64 encoding. (Failure code: 103)\n * Hourly upload limit of 100 documents reached. (Failure code: 105)\n * Document already exists in account. (Failure code: 127)\n * Net amount must be numeric. (Failure code: 107)\n * Gross amount must be numeric. (Failure code: 108)\n * VAT must be numeric. (Failure code: 109)\n * VAT must be positive value. (Failure code: 110)\n * Invalid Date Format. Must be in format Y-m-d. (Failure code: 104)\n * Invalid payment status. (Failure code: 112)\n * Invalid company. (Failure code: 113)\n * Virus check failed. (Failure code: 132)\n * Invalid Due Date Format. Must be in format Y-m-d.. (Failure code: 137)\n * Invalid payment method. (Failure code: 138)\n * Invalid document type. (Failure code: 146)\n * File content or file url must be set. (Failure code: 141)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Upload a new document to the account. Supported file types: pdf, eml",
        "operationId": "Upload new document",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "description": "Name of the file with extension",
                    "example": "document-2525.pdf",
                    "type": "string"
                  },
                  "fileContent": {
                    "description": "File content; base64 encoded",
                    "example": "/* base64 encoded file content */",
                    "type": "string"
                  },
                  "companyId": {
                    "description": "ID of company from <a href='#companies' target='_blank'>/companies</a>",
                    "example": 1234,
                    "type": "integer"
                  },
                  "documentType": {
                    "description": "Document type. Possible values: INCOMING_INVOICE / RECEIPT / PAYMENT_RECEIPT / EXPENSE_REIMBURSEMENT / SALES_INVOICE / CREDIT_NOTE / STATEMENT / DELIVERY_NOTE / ORDER_CONFIRMATION / PAYROLL / COMPANY_REGISTRATION_DOCUMENT / MISC / TRAVEL_EXPENSES / REMINDER",
                    "example": "INCOMING_INVOICE",
                    "type": "string"
                  },
                  "documentNumber": {
                    "description": "Document number",
                    "example": "INV-1234",
                    "type": "string"
                  },
                  "documentDate": {
                    "description": "Document date (format: Y-m-d)",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "documentDueDate": {
                    "description": "Document due date (format: Y-m-d)",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "paymentMethod": {
                    "description": "Document Payment Method. Possible values: bank_transfer, cash, check, direct_debit, credit, cc, paypal, online_payment, amazon_pay, apple_pay, google_pay, external_receivables_management, cashbox, offsetting, other",
                    "example": "bank_transfer",
                    "type": "string"
                  },
                  "paymentStatus": {
                    "description": "Document Payment Status. Possible values: Unknown, Paid, Partially, Not paid",
                    "example": "Paid",
                    "type": "string"
                  },
                  "paidAt": {
                    "description": "Paid at date (format: Y-m-d), When payment_status = 'Paid'",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "netAmount": {
                    "description": "Net amount",
                    "example": "2000.00",
                    "type": "string"
                  },
                  "grossAmount": {
                    "description": "Gross amount",
                    "example": "3000.00",
                    "type": "string"
                  },
                  "currency": {
                    "description": "Currency",
                    "example": "EUR",
                    "type": "string"
                  },
                  "vat": {
                    "description": "VAT percentage. Array can be used for multiple tax rates. <br/> Note: It will be deprecated soon. Either vat or taxRates can be used",
                    "example": 19,
                    "type": "integer or array"
                  },
                  "taxRates": {
                    "description": "Tax Rates (Array)",
                    "example": [0, 1, 2],
                    "type": "array"
                  },
                  "cashDiscountDate": {
                    "description": "Cash Discount date (format: Y-m-d)",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "cashDiscountValue": {
                    "description": "Cash Discount value",
                    "example": "8.00",
                    "type": "string"
                  },
                  "tags": {
                    "description": "Tags (Array)",
                    "example": ["Hosting", "Software"],
                    "type": "array"
                  },
                  "note": {
                    "description": "Note",
                    "example": "Document is for hosting.",
                    "type": "string"
                  },
                  "lineItems": {
                    "description": "Line Items",
                    "example": [
                      {
                        "description": "HDD 4TB",
                        "quantity": 1,
                        "unit_net_price": 200.0,
                        "tax_percentage": 19.0,
                        "total_gross": 219.0
                      },
                      {
                        "description": "Keyboard",
                        "quantity": 1,
                        "unit_net_price": 400.0,
                        "tax_percentage": 19.0,
                        "total_gross": 419.0
                      }
                    ],
                    "type": "array"
                  },
                  "runOCR": {
                    "description": "Use integrated OCR to fill optional params automatically",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "required": ["fileName", "documentType","fileContent"]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/documents/exists": {
      "post": {
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/documentsExists"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Required Data Missing",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Check document hash is not deleted and belongs to the account from user",
        "operationId": "Check document Hash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "properties": {
                      "fileHash": {
                        "description": "File Hash",
                        "example": "bdbdbhgvjhbchcvgvkhcbgvcv",
                        "type": "string"
                      }
                    },
                    "required": ["fileHash"]
                  },
                  {
                    "properties": {
                      "fileContent": {
                        "description": "File content; base64 encoded",
                        "example": "/* base64 encoded file content */",
                        "type": "string"
                      }
                    },
                    "required": ["fileContent"]
                  }
                ]
              }
            }
          },
          "required": true
        }
      }
    },
    "/documents/{documentUid}": {
      "get": {
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getDocument"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Required parameters not set. (Failure code: 102)\n * Invalid Document Prim UID. (Failure code: 106)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get one document from the account.",
        "operationId": "Get one document",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          },
          {
            "name": "loadLineItems",
            "in": "query",
            "description": "Set to true if you want to receive line items as well .",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "readableText",
            "in": "query",
            "description": "Set to true if you want to receive readable text from document.",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeDocument",
            "in": "query",
            "description": "Set to false if you want only basic data without the document content.",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "transactions",
            "in": "query",
            "description": "Set to false if you want only basic data without the connected transactions.",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "documentApproval",
            "in": "query",
            "description": "Set to false if you want only basic data without the connected workflow approval.",
            "required": false,
            "example": "true",
            "schema": {
              "type": "boolean"
            }
          }
        ]
      },
      "put": {
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/updateDocument"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Net amount must be numeric. (Failure code: 107)\n * Gross amount must be numeric. (Failure code: 108)\n * VAT must be numeric. (Failure code: 109)\n * VAT must be positive value. (Failure code: 110)\n * Invalid Date Format. Must be in format Y-m-d. (Failure code: 104)\n * Invalid payment status. (Failure code: 112)\n * Invalid company. (Failure code: 113)\n * Invalid Is Archived, must be either 1 or 0. (Failure code: 133)\n * Document ID must be numeric. (Failure code: 134)\n * Invalid Document. (Failure code: 135)\n * No input meta data found to update. (Failure code: 136)\n * Invalid Due Date Format. Must be in format Y-m-d.. (Failure code: 137)\n * Invalid payment method. (Failure code: 138)\n * Invalid document type. (Failure code: 146)\n * Document is locked. (Failure code: 147)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Update metadata of existing document in the account.",
        "operationId": "Update document",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "description": "ID of company from <a href='#companies' target='_blank'>/companies</a>",
                    "example": 1234,
                    "type": "integer"
                  },
                  "documentType": {
                    "description": "Document type. Possible values: INCOMING_INVOICE / RECEIPT / PAYMENT_RECEIPT / EXPENSE_REIMBURSEMENT / SALES_INVOICE / CREDIT_NOTE / STATEMENT / DELIVERY_NOTE / ORDER_CONFIRMATION / PAYROLL / COMPANY_REGISTRATION_DOCUMENT / MISC / TRAVEL_EXPENSES / REMINDER",
                    "example": "INCOMING_INVOICE",
                    "type": "string"
                  },
                  "documentNumber": {
                    "description": "Document number",
                    "example": "INV-1234",
                    "type": "string"
                  },
                  "documentDate": {
                    "description": "Document date (format: Y-m-d)",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "documentDueDate": {
                    "description": "Document due date (format: Y-m-d)",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "paymentMethod": {
                    "description": "Document Payment Method. Possible values: bank_transfer, cash,check, direct_debit, credit, cc, paypal, online_payment, amazon_pay, apple_pay, google_pay, external_receivables_management, cashbox, offsetting, other",
                    "example": "bank_transfer",
                    "type": "string"
                  },
                  "paymentStatus": {
                    "description": "Document Payment Status. Possible values: Unknown, Paid, Partially, Not paid",
                    "example": "Paid",
                    "type": "string"
                  },
                  "paidAt": {
                    "description": "Paid at date (format: Y-m-d), When payment_status = 'Paid'",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "netAmount": {
                    "description": "Net amount",
                    "example": "2000.00",
                    "type": "string"
                  },
                  "grossAmount": {
                    "description": "Gross amount",
                    "example": "3000.00",
                    "type": "string"
                  },
                  "currency": {
                    "description": "Currency",
                    "example": "EUR",
                    "type": "string"
                  },
                  "vat": {
                    "description": "VAT percentage <br/> Note: It will be deprecated soon. Either vat or taxRates can be used.",
                    "example": 19,
                    "type": "integer"
                  },
                  "taxRates": {
                    "description": "Tax Rates (Array)",
                    "example": [0, 1, 2],
                    "type": "array"
                  },
                  "cashDiscountDate": {
                    "description": "Cash Discount date (format: Y-m-d)",
                    "example": "2017-08-18",
                    "type": "string"
                  },
                  "cashDiscountValue": {
                    "description": "Cash Discount value",
                    "example": "8.00",
                    "type": "string"
                  },
                  "isArchived": {
                    "description": "Is Archived?",
                    "example": 1,
                    "type": "integer"
                  },
                  "tags": {
                    "description": "Tags (Array)",
                    "example": ["Hosting", "Software"],
                    "type": "array"
                  },
                  "note": {
                    "description": "Note",
                    "example": "Document is for hosting.",
                    "type": "string"
                  },
                  "lineItems": {
                    "description": "Line Items",
                    "example": [
                      {
                        "description": "HDD 4TB",
                        "quantity": 1,
                        "unit_net_price": 200.0,
                        "tax_percentage": 19.0,
                        "total_gross": 219.0
                      },
                      {
                        "description": "Keyboard",
                        "quantity": 1,
                        "unit_net_price": 400.0,
                        "tax_percentage": 19.0,
                        "total_gross": 419.0
                      }
                    ],
                    "type": "array"
                  }
                },
                "required": []
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      },
      "delete": {
        "tags": ["Document"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/deleteDocument"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Net amount must be numeric. (Failure code: 107)\n * Gross amount must be numeric. (Failure code: 108)\n * VAT must be numeric. (Failure code: 109)\n * VAT must be positive value. (Failure code: 110)\n * Invalid Date Format. Must be in format Y-m-d. (Failure code: 104)\n * Invalid payment status. (Failure code: 112)\n * Invalid company. (Failure code: 113)\n * Invalid Is Archived, must be either 1 or 0. (Failure code: 133)\n * Document ID must be numeric. (Failure code: 134)\n * Invalid Document. (Failure code: 135)\n * No input meta data found to update. (Failure code: 136)\n * Invalid Due Date Format. Must be in format Y-m-d.. (Failure code: 137)\n * Invalid payment method. (Failure code: 138)\n * Invalid document type. (Failure code: 146)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Delete an existing document in the account.",
        "operationId": "Delete document",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/account": {
      "get": {
        "tags": ["General Endpoints"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/account"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all available countries.",
        "operationId": "Account",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/countries": {
      "get": {
        "tags": ["General Endpoints"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getCountries"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all available countries.",
        "operationId": "Get country list",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/currencies": {
      "get": {
        "tags": ["General Endpoints"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getCurrencies"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all available currencies.",
        "operationId": "Get currency list",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/tags": {
      "get": {
        "tags": ["General Endpoints"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getTags"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all available Tags in GMI user.",
        "operationId": "Get Tag list",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/vatRates": {
      "get": {
        "tags": ["General Endpoints"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getVatRates"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all vat rates from the account.",
        "operationId": "Get vat rates",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/documents/{documentUid}/attachments": {
      "get": {
        "tags": ["Attachment"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/listAttachments"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get list of all attachments for an invoice.",
        "operationId": "Get attachment list",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      },
      "post": {
        "tags": ["Attachment"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/uploadAttachment"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * Required parameters not set (Failure code: 102)\n * You can upload maximum 25 attachments per invoice (Failure code: 141)\n * Invalid file type. Allowed types are 'pdf, xls, xlsx, doc, docx, ppt, pptx, txt, zip, xml, jpg, jpeg, png, tif, tiff, eml' (Failure code: 142)\n * Attachment detected as virus (Failure code: 143)\n * Attachment already exists in invoice (Failure code: 144)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "Required parameters not set.",
                    "error_code": 102
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Upload a single attachment to invoice.",
        "operationId": "Upload one Attachment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "description": "Name of the file with extension",
                    "example": "document1.pdf",
                    "type": "string"
                  },
                  "fileContent": {
                    "description": "File content; base64 encoded",
                    "example": "/* base64 encoded file content */",
                    "type": "string"
                  }
                },
                "required": ["fileName", "fileContent"]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/documents/{documentUid}/attachments/{attachmentUid}": {
      "get": {
        "tags": ["Attachment"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/getAttachment"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * An unexpected error occurred. (Failure code: 100) \n * Required parameters not set. (Failure code: 102)\n * Invalid Document Prim UID. (Failure code: 106)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Get specific attachments for an invoice.",
        "operationId": "Get one attachment",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      },
      "delete": {
        "tags": ["Attachment"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/deleteAttachment"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * Required parameters not set (Failure code: 102)\n * Temporary Issue. Please retry in a few minutes (Failure code: 503)\n * Attachment not found (Failure code: 145)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "Required parameters not set.",
                    "error_code": 102
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Delete a specific attachment.",
        "operationId": "Delete one attachment",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
        ]
      }
    },
    "/bankAccounts": {
      "get": {
        "tags": ["Bank Account"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/listBankAccounts"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * Required parameters not set (Failure code: 102)\n * An unexpected error occurred. (Failure code: 100) \n * Account not found (Failure code: 145)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "Required parameters not set.",
                    "error_code": 102
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "List Bank Accounts.",
        "operationId": "List Bank Accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "return result set from limit to offset",
            "required": false,
            "example": "10",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of accounts set",
            "required": false,
            "example": "20",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/bankAccounts/{bankAccountUid}": {
      "put": {
        "tags": ["Bank Account"],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/updateBankAccountBalance"
                }
              }
            }
          },
          "400": {
            "description": "Either request does not have any valid required parameters or invalid action.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key. Will validate API key for:\n * Key exists (code: 403)\n * Key is blocked or not (code: 407)\n * Daily limit is exceeded (code: 429)\n * Requests per minute limit is exceeded (code: 429)\n * You do not have required permission (code: 430)\n * Account is cancelled (code: 431)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {}
                }
              }
            }
          },
          "415": {
            "description": "Request content-type is not valid, should be application/json.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 415,
                    "detail": "Request content-type is not valid."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Request could not be processed. Details will be provided within the response which also contains an unique error code for this API call.\n \n Possible failures:\n * Required parameters not set (Failure code: 102)\n * An unexpected error occurred. (Failure code: 100) \n * Account not found (Failure code: 145)",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": false,
                    "detail": "An unexpected error occurred.",
                    "error_code": 100
                  }
                }
              }
            }
          },
          "503": {
            "description": "Temporary Issue. Please retry in a few minutes.",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "code": 503,
                    "detail": "Temporary Issue. Please retry in a few minutes."
                  }
                }
              }
            }
          }
        },
        "description": "Update Bank Account Balance",
        "operationId": "Update Bank Account Balance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "balance": {
                    "description": "New Balance",
                    "example": 320.76,
                    "type": "number"
                  },
                  "currencyCode": {
                    "description": "Currency Code",
                    "example": "EUR",
                    "type": "string"
                  }
                },
                "required": ["balance"]
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Header"
          }
[...]
